body {
    font-family: sans-serif;
    padding: 0;
    margin: 0;
}

#header {
    width: 100%;
    background-color: #eeeeee;
    padding: 5px;
    height: 50px;
}

#logo {
    font-size: 120%;
    font-weight: bold;
    float: left;
    padding: 3px 5px;
}

#buttonContainer {
    display: flex;
    justify-content: center;
    margin: 0 auto;
}

.toggleBtn {
    text-align: center;
    width: 100px;
    border: 2px solid gray;
    padding: 5px;
    border-radius: 5px;
    margin-right: 2px;
}

.active {
    background-color: cadetblue;
}

.shaded {
    background-color: gray;
}

textarea {
    resize: none;
    width: 50%;
    border-bottom: none;
}

.panel {
    float: left;
    width: 50%;
    border-left: none;
    border-top: none;
}

#outputPanel {
    font-family: sans-serif;
}

.hidden {
    display: none;
}